@model IEnumerable<Department>
@{

    ViewData["Title"] = "All Departments";
}

<h1 class="m-2">
    All Departments
</h1>

<br />
<hr />

<a asp-action="Create" class="btn btn-primary p-1">
    Create Department
</a>


@if (Model.Count() > 0)
{
    <form asp-action="index" style="display:flex;justify-content:right;">
        <div class="form-group mr-1">
            <input class="form-control" name="searchText" placeholder="Search" />
        </div>
        <div>
            <input class="form-control btn btn-success" type="submit" value="search" />
        </div>
    </form>

    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d=>d.Code)</th>
                <th>@Html.DisplayNameFor(d=>d.Name)</th>
                <th>@Html.DisplayNameFor(d=>d.DateOfCreation)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Code</td>
                    <td>@d.Name</td>
                    <td>@d.DateOfCreation.Date</td>
                    <partial name="_ButtonsPartial" model="@d.Id" />
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        There Is No Department !
    </div>
}

